<div class="container">


  <div fxLayout="column" fxLayoutAlign="center center" class="card">
    <h1>Signup Form</h1>
    <form fxLayout="column" fxLayoutAlign="center center" [style.margin-bottom.px]="20" [style.width.vw]="55"
      [formGroup]="form">

      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <ng-container *ngFor="let control of formControls">
          <mat-form-field fxFlex="40" [style.padding.px]="5">
            <input matInput [placeholder]="control.placeholder" [formControlName]="control.name" [type]="control.type">
            <mat-error> {{ getFirstErrorValue(form.get(control.name)!) }} </mat-error>
          </mat-form-field>
        </ng-container>
      </div>



      <mat-slide-toggle formControlName="is_staff">Superuser</mat-slide-toggle>


    </form>
    <button (click)="sendForm()" [disabled]="form.invalid" mat-stroked-button color="primary">Submit</button>
  </div>
</div>